.background {
    background:url(../img/dvsup.png);
}
.input {
    margin-left:45%;
    margin-right:45%;
    margin-top:120px;
}
.titre {
    border: 2px solid grey;
    background-color:white;
    margin-top:150px;
    margin-right:30%;
    margin-left:30%;
    text-align:center;
    padding:10px;
}
.resultat {
    margin-left:45%;
    margin-right:45%;
    background-color:white;
    border: 1px solid black;
}